<div>
  <h1><%= title %></h1>
  <% for (const group in groups) { %>
  <div>
    <p>
      <span class="btnTitle">
        <%= groups[group].displayName %>
      </span>
    </p>
    <p>
      <button class="onOffBtn" id="<%= group%>On">
        on
      </button>
      <button class="onOffBtn" id="<%= group%>Off">
        off
      </button>
    </p>
    <% if (groups[group].addTimer) { %>
    <div class="container">
      <p>
        <button class="timerBtn" id="<%= group%>plus">
          +
        </button>
        <span class="timer" id="<%= group%>Timer">
          --:--:--
        </span>
        <button class="timerBtn" id="<%= group%>minus">
          -
        </button>
        <button class="cancelBtn" id="<%= group%>Cancel">
          cancel
        </button>
      </p>
      <p>
        <span class="timer" id="<%= group%>Alarm">
          --:--:--
        </span>
      </p>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
<div id="counters">
  <p>
    Incoming Socket Data count
    <span id="socCountIn">
      0
    </span>
  </p>
  <p>
    Outgoing Socket Data count
    <span id="socCountOut">
      0
    </span>
  </p>
</div>
